

#modeswitchcontainer {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;

    .modebutton {
        box-sizing: border-box;
        flex-basis: 7rem;
        flex-grow: 0;
        /* border-block: true; */
        background-color: red;
    }
}

